@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Becky Cajati<br />
    Marietta, GA<br />
    bcajati@gmail.com<br />
    <abbr title="Phone">P:</abbr>
    636.328.2625
</address>


