@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Payroll Benefits</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Welcome to Payroll Benefits</h2>
        <p>Payroll Benefits is a simple application that
            is based on Microsoft Technologies including:  .Net MVC,
            local SQL Server, Entity Framework and Bootstrap.</p>
        <br/>
        <p> This application implements these requirements:</p>
        <ul>
            <li> User can Add Employee's and Dependents</li>
            <li> The cost of benefits is $1000/year for each employee </li>
            <li>Each dependent (children and possibly spouses) incurs a cost of $500/year</li>
            <li>Anyone whose name starts with ‘A’ gets a 10% discount, employee or dependent</li>
        </ul>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
        <h2>The code for this project is on github</h2>
        <p><a class="btn btn-default" href="https://github.com/BCajati/PayrollBenefits">See the code &raquo;</a></p>
    </div>
</div>
    <div class="row">
        <div class="col-md-12">
            <h3>Instructions</h3>
            <p>1. Select the Employees menu item above.
            <p>2. This takes you to a list of all employees</p>
            <p>3. Select the button "Payroll Details" to see the benefit cost for each employee</p>
            <p>4. From here you can also add new employees and their dependents</p>
        </div>

    </div>
