@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Payroll Benefits</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Welcome to Payroll Benefits</h2>
        <p>Payroll Benefits is a simple application that
            is based on default .Net MVC technologies
            including local SQL Server, Entity Framework and Bootstrap.</p>
        <br/>
        <p>The Employees Tab lists all employees.</p>
        <p>Select the Details link to see their dependents and total benefit cost</p>
    </div>
    <div class="col-md-6">
        <h2>The code for this project is on github</h2>
        <p><a class="btn btn-default" href="https://github.com/BCajati/PayrollBenefits">See the code &raquo;</a></p>
    </div>
</div>
